---
import Layout from "@/layouts/Layout.astro";
import { ResetPasswordForm } from "@/components/auth/ResetPasswordForm";
import { resetPassword } from "@/lib/auth";

// Disable SSR for this page as it needs to be dynamic
export const prerender = false;
---

<Layout title="Set New Password - 10xDevsCards">
  <main class="container max-w-4xl mx-auto p-6 flex items-center justify-center">
    <ResetPasswordForm client:load onSubmit={resetPassword} />
  </main>
</Layout>
